body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: gold;
}

/* Estilos para a barra de navegação */
.navbar {
    overflow: hidden;
    background-color: rgb(5, 5, 109);
}

.navbar a {
    float: left;
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: gold;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(5, 5, 109);
    color: goldenrod;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(5, 5, 109);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(20, 20, 201);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para o carrossel de imagens */
.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
}
.img.sp{
    background-size: cover;
}
/* Estilos para o formulário de contato */
form {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: rgb(5, 5, 109);
    border-radius: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}