body{
    background-image: url('https://s2-vidadebicho.glbimg.com/0vUg1X_ttS40FZ2LM7gLjj4FMHY=/0x0:1200x900/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_fb623579cd474803aedbbbbae014af68/internal_photos/bs/2022/g/G/1C9BgyTJufXcGU4keNOg/2022-03-08-img1-gatos-sem-pelos-descubra-6-racas-de-felinos-peladoss-ite.jpeg');
    background-size: cover;
}


nav{
    background-color: black;
}